<span class=span2><h1 >Osama's Reports</h1></span>
<h2 id="3">Breaking news: More than twenty killed in bombardments in Aleppo</h2> 
<p><img style="float: left;border-style: solid;border-color:#000000;border-width: 3px;margin: 5px 15px 15px 5px" src="images/third.png" alt="" width="350"></p><p>Aleppo, Syria. 30 May, 2016. Syrian
regime forces have bombarded the
districts in Aleppo. The neighbourhood of
Al-Sukkari in Aleppo has been attacked.
The attack resulted in the death of one
child and six civilians. Since this morning, nearly twenty
civilians in the Aleppo districts of
Al-Shakur, Al-Almeria, Alkhalsa and
Al-Haidarya have been killed with more
than forty injured. Civil Defense workers
have been looking for and rescuing the
injured and removing the corpses from
the debris.</p>
<h5>Photographer: Osama Jumaa/Images Live
Report: Anna Rogers/Images Live</h5>