
	<article id="post-406"  dir="rtl" class="text-right post-406 page type-page status-publish has-post-thumbnail hentry">
		
		<header class="entry-header">
			
			<span class=span1><h1 class="page-title">شهيد الحقيقة الصحفي والمصور أسامة جمعة</h1>			
		</header></span><!-- .entry-header -->

		<p align="center"><iframe width="640" height="360" src="https://www.youtube.com/embed/vT5luXiQc_k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
<style type="text/css">
	p {
		font-size: 20px;
	}
	
}</style>
		<div class="entry-content clearfix">
			<p><img  style="float: right;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="images/11.jpg" alt="" width="220"></a></p>
<p>في الخامس من حزيران عام 2016 م , ذبلت زهرة من زهور سوريا .<br>
استشهد الصحفي أسامة جمعة إثر إصابه بشظايا قذيفة أطلقتها مدفعية النظام السوري في حي المشهد في حلب.<br>
وكان أسامة قد ذهب إلى ذلك الحي لتصوير عملية إنقاذ الناس العالقين تحت الأنقاض بعد القصف بالبراميل المتفجرة .</p>
<p><img style="float: left;border-style: solid;border-width: 3px; border-color:#ff6600; margin: 5px 15px 15px 5px" src="images/23.jpg" alt="" width="250"></a></p>
<p dir="rtl">استقل أسامة سيارة الإسعاف المتوجهة لمكان القصف , وبمجرد وصولها استهدفت بالقذائف فأصيب أسامة الذي كان بداخلها , وعندما حاول السائق المسعف عبدالعزيز سرحة إنقاذ أسامة سقطت قذيفة أخرى لتودي بحياتيهما معاً.<br>
الصحفي الشاب النزيه أسامة الذي كان شجاعاً ومستقلاً للغاية كان يتمتع بإنسانية عظيمة وعاطفة عميقة .<br>
فقد أسامة حياته وهو في ربيع العمر في العشرين من عمره , حيث ولد في حلب _ سوريا , سرعان ما غادر رفقة عائلته ووالده الذي كان معلماً في إحدى مدارس المدينة ليسكن في قرية تقاد الواقعة غربي حلب.</p>
<p><img style="float: right;border-style: solid;border-width: 3px;border-color:#ff6600; margin: 5px 15px 15px 5px" src="images/18.jpg" alt="" width="250"></a></p>
<p>تعرف الصحفي مدين ديرية منذ بداية الثورة على عائلة أسامة , التي كانت تستضيفه لفترات طويلة حين ذهابه إلى سوريا لتغطية الأوضاع هناك , حيث كانت عائلةً مضيافة ولطيفة جداً مع مدين .<br>
أسامة منذ صغره كان يبدي أهتماماً وشغفا كبيراً في كميرات مدين , حيث اعرب له عن رغبته في تعلم كيفية استخدامها في الوقت الذي كان فيه مدين مقيم مع عائلته .</p>
<!-- <p><img style="float: left;border-style: solid;border-width: 3px;border-color:#ff6600;margin: 5px 15px 15px 5px" src="images/9.jpg" alt="" width="230"></a></p> -->
<p ><iframe style="float: left;margin: 5px 15px 15px 5px" width="370" height="300" src="https://www.youtube.com/embed/9a3Qn2dB8xI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
<p>تدرب أسامة في تركيا في مجال الصحافة والتصوير وكذلك في إنتاج الأفلام الوثائقية مع وكالة إيمجز لايف.<br>
كما تدرب على الأرض في سوريا من قبل مدين ديرية , الذي كان يركز في تدريبه إلى حد كبير على ضرورة الاستقلال والحيادية والموضوعية بالإضافة إلى سلامة الصحفي أثناء تغطية الأخبار .</p>
<p><img style="float: right;border-style: solid;border-width: 3px;border-color:#ff6600;margin: 5px 15px 15px 5px" src="images/6.jpg" alt="" width="250"></a></p>
<p>كما شدد أيضاً على واجب الصحفيين لإظهار كافة الأطراف المشاركة في الصراع دون تبني أي وجهة نظر معينة .<br>
وكان أسامة مستوعباً مبادئ الصحافة بسهولة بالغة بخلاف العديد من الشبان السوريين الآخرين , لم ينضم أسامة لأي من الفصائل المتحاربة و لا لأي حزب أو منظمة خلال الصراع السوري , وبالتالي المحافظة على نهج غير متحيز للصراع الأمر الذي انعكس في حياديتيه ومهنيتيه العالية كصحفي .<br>
كان حلم أسامة دراسة التصوير الفوتوغرافي وصناعة الأفلام في الجامعات التركية حيث كان يجري اتخاذ الترتيبات اللازمة لذلك.<br>
خلال فترة تدريبه كان التركيز على مسائل السلامة , لقد استشهد أسامة جراء إصابة خطيرة في رأسه وصدره , كما وأصيب أيضاً في ساقه و ذراعه ولم يعرف سبب عدم ارتدائه للخوذة والدرع في سيارة الاسعاف .</p>
<p><img style="float: left;border-style: solid;border-width: 3px;border-color:#ff6600;margin: 5px 15px 15px 5px" src="images/24.jpg" alt="" width="250"></a></p>
<p>وقد أصر أحد أقاربه على استرجاع جثته على الرغم من خطورة المرور بطريق الكاستيلو الذي يتعرض للقصف بنيران المدفعية والغارات الجوية.<br>
وقد سبق ان انجز أسامة عدة تقارير عن <a href="http://www.photosmedia.net/ar/blog/2016/06/02/%D8%A7%D9%84%D8%A3%D8%AE%D8%A8%D8%A7%D8%B1-%D8%A7%D9%84%D8%B9%D8%A7%D8%AC%D9%84%D8%A9-%D8%A7%D9%84%D9%83%D8%A7%D8%B3%D8%AA%D9%8A%D9%84%D9%88%D8%A7-%D8%B7%D8%B1%D9%8A%D9%82-%D8%A7%D9%84%D9%85%D9%88/">طريق الكاستيلو</a> قبل ايام من استشهادة, وبسبب القصف الشديد بالمدفعية الثقيلة والصواريخ الذي شهده الطريق مؤخراً لقب ( الطريق إلى الموت ) .<br>
وللأسف…عبر جثمان أسامة الطاهر من هذا الطريق ليورى الثرى في قريتة التي احبها وصمم ان يعود اليها بعد ان قرر الرجوع الى الوطن الام سوريا رقيقا مثل اوراق الياسمين يحمل هموم واوجاع اهله ومعاناة اطفال بلده التي مزقت اجسادهم طائرات الموت واسلحة الفتك ورصاص القتل ليقف شامخا عاليا الرأس يحدق ينظر بالكاميرا ويرسم كل لحظة تحكي قصص وحكايات الحرب والدمار والخراب وآلام الاطفال وجراح وطن .<br>
رحل عنا أسامة وفقدناه , لحقناه ووجدنا أن الصورة التي نقلها تبقى وتعيش في الوجدان والضمير وتظل ماثلة في العقول والقلوب وشاهدة حقيقية على بشاعة الحرب والقتل ليسقط من بين ضحاياها صحفي مستقل ليس طرفا بها.</p>


	

	
