
<article id="post-406"  dir="rtl" class="text-right post-406 page type-page status-publish has-post-thumbnail hentry">
<h1>مهرجان أسامة جمعة: النزاهة والشجاعة والروح المستقلة</h1>
 <h5 >غازي عنتاب, تركيا, أغسطس 2018</h5>
<p align="center"><iframe width="640" height="360" align="middle" src="https://www.youtube.com/embed/DdB9YBSk7fg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
<br><br>
<p style="font-size: 20px">استضافت مدينة غازي عنتاب التركية مهرجان أسامة جمعة في أغسطس لعام 2017، لتذكر و تقديم الاحترام للصحفي الراحل أسامة جمعة، بعد سنة من موته المأساوي، و لإحياء عمله الذي أنجزه بأمانة عظيمة، شجاعة و مهارة. احتوى المهرجان على صور معروضة من قبل المصورين الصحفيين التابعين لIMAGESLIVE  تتحدث عن نمو الربيع العربي و النزاعات التي تبعت ثورات الربيع العربي في بعض الدول العربية. عرض المهرجان ايضا افلام وثائقية متعلقة بالربيع العربي و النزاعات التي تلته. تم ايضا عقد ورشات عمل في الصحافة، التصوير الصحفي و صناعة الافلام الوثائقية لطلبة الجامعات. استضافت الامسية ايضا الاغاني و العروض التقليدية و الفولكورية. الصحفيون، المصورون الفوتغرافيون، صانعوا الافلام، مثقفون، فنانون، سياسيون، شخوص متميزة من المجتمع المدني، حضروا الامسية بالاضافة الى طلبة الجامعات و العامة.
مدينة غازي عنتاب الواقعة في الشمال التركي و قرب الحدود التركية السورية لم تكن خيارا عاديا لكن مدروسا اعتمادا على حقيقة ان أسامة قضى فترات مهمة في غازي عنتاب و تلقى معظم تدريبه الصحفي، الفوتغرافي و التصويري في المدينة التركية. خلال عودة اسامة الاخيرة من غازي عنتاب الى حلب، خسر حياته بينما كان يصور القصف الكثيف في حلب. تم تأسيس المهرجان من قبل اعلام الصور الدولي، و الوكالة الشقيقة، Images Live.</p>
<br><br>

<h2 style="margin-left: 20px">Festival's Photos:</h2>
<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/1.jpg" alt="" width="450">


<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/3.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/4.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/5.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/6.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/7.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/8.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/9.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/10.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/11.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/12.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/13.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/14.jpg" alt="" width="450">

<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/15.jpg" alt="" width="450">




<img style="float: left;border-style: solid;border-color:#ff6600;border-width: 3px;margin: 5px 15px 15px 5px" src="festival/2.png" alt="" width="450">


</article>
