<span class=span3><h2>Director-General deplores death of journalist Osama Jumaa in Syria</h2></span>
<p><img style="float: right;border-style: solid;border-color:#17202A  ;border-width: 3px;margin: 5px 15px 15px 5px" src="images/7.jpg" alt="" width="250"></p>
<p>The Director-General of UNESCO, Irina Bokova, today denounced the killing of journalist Osama Jumaa in the city of Aleppo on 5 June.
“I condemn the killing of Osama Jumaa,” the Director-General said. “I call on all parties in the conflict to respect the Geneva Conventions on the civilian status of journalists and their right to exercise their profession.” Jumaa was killed when artillery fire hit an ambulance in which he was being
treated for injuries sustained while covering the bombing of a residential neighbourhood of Aleppo. Jumaa had been working for Images Live, a British photo agency. The Director-General of UNESCO issues
statements on the killing of media workers in line with Resolution 29 adopted by UNESCO Member States at the Organization’s General Conference of 1997, entitled “Condemnation of Violence against Journalists.”</p>

<span class=span3><h2>Reporters Without Borders</h2></span>
<p><img style="float: right;border-style: solid;border-color:#17202A  ;border-width: 3px;margin: 5px 15px 15px 5px" src="images/10.jpg" alt="" width="250"/><p>Reporters without Borders (RSF) is saddened to learn of 19-year-old Syrian press photographer Osama Jumaa’s death in the northern city of Aleppo on 5 June and deplores the
fact that the violence of the conflict in Syria makes it impossible for journalists to work safely.</p>
<br><br>
<span class=span3><h2>Arab Centre for the Freedom of the Press</h2></span>
<p><img style="float: right;border-style: solid;border-color:#17202A  ;border-width: 3px;margin: 5px 15px 15px 5px" src="images/15.jpg" alt="" width="250"
<p>The Arab Centre for the Freedom of the Press mourns the death of Syrian journalist Osama Jumaa, who has passed away as a result of air strikes on the Syrian city of Aleppo. The Arab Centre for the Freedom of the Press has said in a statement that Osama Jumaa was one of the most important journalists to have devoted himself to professional work, and to have dedicated his life to provide the truth in many places and
in serious journalistic tasks. Osama’s most recent coverage was that of the Syrian Revolution, as well as the tragedy suffered by the Syrian people. The Centre has called for the United Nations and UNESCO to open an investigation about the death of journalist Osama Jumaa and to punish those responsible for his death, which must be considered an extremely serious war crime. The Arab Centre for the Freedom of the Press and the Media has called for the Federation of Arab Journalists, to set up the day Osama was killed as ‘the
Arab Press Day’, and to celebrate the day every year. Osama Jumaa passed away as a result of air raids on the city of Aleppo, while he was inside the ambulance, which was used to save the wounded and injured in Al-Mashad and Al-Zubdya neighbourhoods in the city of Aleppo after the town had witnessed heavy shelling in the morning.</p>
<span class=span3><h2>The Arab Union of Photographers:</h2></span>
<p><img style="float: right;border-style: solid;border-color:#17202A  ;border-width: 3px;margin: 5px 15px 15px 5px" src="images/14.jpg" alt="" width="250"<p>The Arab Union of Photographers denounces the crime carried out against the Syrian photographer and journalist Osama Jumaa who died while undertaking his sacred duty during his coverage of the events in his country. The Union of Arab Photographers upholds its denunciation and condemnation of all such acts to which photographers and journalists are exposed to in Syria and in all the Arab countries; but the Union maintain hope that all the concerned authorities will provide all the necessary conditions for the protection of ‘the messengers of the image and of the word’ as well as the defence of their lives, since they stand as the symbol of free, honest, and committed journalism.</p>
<br><br>
<span class=span3><h2>Tina Lozio of International Photo Media/Images Live:</h2></span>
<p><img style="float: right;border-style: solid;border-color:#17202A  ;border-width: 3px;margin: 5px 15px 15px 5px" src="images/12.jpg" alt="" width="250"<p>“It is a real tragedy that we have lost a journalist of such deep integrity, impartiality and dedication. Osama was clearly a real precious gem, shining light on all people around him both in the professional and personal spheres. The tragic loss of
Osama won’t be felt only by his family, friends, IPM/Images Live, and Osama’s news readers. Syria itself has lost a very capable, honest and reliable citizen, who should have played a fundamental role in the rebuilding of the country once the conflict had ended.”</p>

<br><br>
<span class=span3><h1>Images Live Statement</h1></span>
<p><img style="float: left;border-style: solid;border-color:#17202A  ;border-width: 3px;margin: 5px 15px 15px 5px" src="images/20.jpg" alt="" width="400">
<h3> Osama Jumaa has been killed in Aleppo <h3/>
<p>London, UK, 5th June 2016. Osama Jumaa has been killed after being hit by bombardments caused by artillery fire launched by the Syrian government in the district of Al-Mashad in Aleppo. Osama had gone to that neighbourhood to film the rescue of people trapped under the rubble following the bombardments. Just as the ambulance in which Osama was travelling had reached the site, the vehicle was hit by artillery fire and Osama was injured. As the driver, himself a
paramedic, attempted to rescue Osama, they were both hit by artillery fire and both Osama and the driver lost their life. We announce the news with our deepest sorrow. Osama was an extremely brave, independent, impartial young journalist with deep integrity and great humanity. Osama had trained in Turkey in journalism and photography with Images Live. Medyan Dairieh had known Osama’s family from the inception of
the Syrian revolution and was hosted by them whenever he went to Syria to cover the situation there. Osama’s entire family has always been extremely hospitable and kind to Medyan. Unlike many other Syrian youngsters and young men during the Syrian Revolution, Osama has kept himself separate from all the
warring factions maintaining an impartial approach to the conflict that was reflected in his impartiality and great professionalism as a journalist. Osama trained in Turkey in journalism, photography, as well as in the production of documentaries with Images Live. Osama was also trained on the ground in Syria by Medyan Dairieh. The teaching had focused greatly on the necessity of impartiality, independence, and integrity of the journalist in reporting the news. It also emphasized the duty of journalists
to show all the parties involved in the conflict, while at the same time to remain objective and not to embrace any particular view. Osama had absorbed with extreme ease these principles of journalism. Unlike many other young Syrians during the Syrian conflict, Osama had not joined any of the warring factions
nor any party or organization in Syria, thus maintaining an unbiased approach to the conflict that was reflected in his impartiality and great professionalism as a journalist.</p>



<h3>Other Statements:</h3> 
<ul>
<li><a href="http://www.unesco.org/new/en/culture/themes/dynamic-content-single-view/news/director_general_deplores_death_of_journalist_osama_jumaa_in/">Director-General deplores death of journalist Osama Jumaa in Syria.</a></li>
<li><a href="https://www.hiiraan.com/news4/2016/Dec/129393/journalist_killings_ease_from_record_highs_as_murders_down_combat_deaths_up.aspx">Journalist killings ease from record highs as murders down, combat deaths up
.</a></li>
<li><a href="http://www.europe1.fr/societe/moins-de-journalistes-tues-en-2016-mais-lourd-bilan-en-syrie-2929988">57 journalistes tués dans le monde en 2016 contre 67 en 2015, dont 19 en Syrie.</a></li>
<li><a href="https://www.letemps.ch/monde/cinquantesept-journalistes-tues-monde-2016">Cinquante-sept journalistes tués dans le monde en 2016.</a></li>
<li><a href="http://www.repubblica.it/esteri/2016/12/19/news/rsf_giornalisti_uccisi_2016-154420735/">
	Rsf: 74 operatori dell'informazione uccisi nel 2016
.</a></li>
<li><a href="http://www.rainews.it/dl/rainews/articoli/Reporter-senza-frontiere-74-operatori-informazione-uccisi-nel-2016-di-cui-19-solo-in-Siria-026321a5-b50e-4fda-983c-af4c166cf0e7.html">
	Reporter senza frontiere: 74 operatori dell'informazione uccisi nel 2016, di cui 19 solo in Siria
.</a></li>
<li><a href="http://en.farsnews.com/newstext.aspx?nn=13950930000783"> 
107 Reporters Killed in Syria since Outset of Conflict.</a></li>
<li><a href="https://www.aljazeera.com/news/2016/06/reporting-syria-direct-threat-160628061015960.html">
	Reporting Syria: 'There's a direct threat for everyone'
.</a></li>
<li><a href="https://www.rt.com/news/370813-syria-deadliest-journalists-report/">
	107 reporters killed in Syria since conflict began - report
.</a></li>
<li><a href="https://cpj.org/data/people/osama-jumaa/">
	Osama Jumaa [Killed]
.</a></li>
<li><a href="https://rsf.org/en/news/young-syrian-press-photographer-killed-aleppo">
Young Syrian press photographer killed in Aleppo
.</a></li>
<li><a href=" https://www.theguardian.com/media/2016/dec/19/number-of-journalists-killed-in-combat-at-highest-level-for-three-years">
	Number of journalists killed in combat highest for three years
.</a></li>
<li><a href="https://www.telegraph.co.uk/news/2016/12/18/majority-74-journalists-killed-2016-targeted-deliberately-says/">
	Majority of the 74 journalists killed in in 2016 were 'targeted deliberately,' says Reporters Without Borders 
.</a></li>
</ul>