
<span class=span2><h1 >Osama's Reports</h1></span>
<div class=row>
	<div class=col-md-1 ></div>
<div class="well col-md-4" style="margin-right: 5px;"><img src="images/first.jpg" width= 350 ><p><a href="#!works/1">Breaking news: Al-Castello road, ‘the road to death’ in Aleppo, Syria</a></p></div>
	<div class=col-md-2 ></div>

<div class="well col-md-4" style="margin-right: 5px;"><img src="images/second.jpg" width= 350 style="object-fit: cover;"><a href="#!works/2">Breaking news: Bombardments of Aleppo continue for a second day</a></div>
</div>
<div class=row>
	<div class=col-md-1 ></div>

<div class="well col-md-4" style="margin-right: 5px;"><img src="images/third.png" width= 350 ><p><a href="#!works/3">Breaking news: More than twenty killed in bombardments in Aleppo</a></p></div>
	<div class=col-md-2 ></div>

<div class="well col-md-4" style="margin-right: 5px;"><img src="images/fourth.jpg" width= 350 ><p><a href="#!works/4">A number of civilians are killed during Russian airstrikes in Aleppo, Syria</a></p></div>
</div>
<div class=row>
	<div class=col-md-4 ></div>

<div class="well col-md-4" style="margin-right: 5px;"><img src="images/fifth.jpg" width= 350 ><p><a href="#!works/5">Bombardment of refugee camp in Syria a day after truce extension</a></p></div>
</div>


